.btns {
	position: fixed;
	top: 50%;
	right: 50px;
	transform: translateY(-50%);
	z-index: 3;

	li {
		width: 10px;
		height: 10px;
		border-radius: 5px;
		background: #fff;
		cursor: pointer;
		margin: 20px;
		margin: 20px;
		transition: 0.3s;

		&.on {
			height: 80px;
			background: #a52f1d;
		}
	}
}
@media screen and (max-width: 1179px) {
	.btns {
		right: 10px;
	}
}
@media screen and (max-width: 539px) {
	.btns {
		display: none;
	}
}
