#about {
	width: 100%;
	padding: 100px 0;
	background: #e7ddd4;
	.inner {
		width: 1180px;
		margin: 0 auto;
		.wrap {
			&::after {
				display: block;
				clear: both;
				content: '';
			}
			article {
				float: left;
				width: 50%;
				height: 600px;
				h1 {
					padding-top: 100px;
					font: 35px/1.3 'Gilda Display';
					color: #a52f1d;
					margin-bottom: 50px;
				}
				p {
					font: 15px/1.4 'Lato';
					color: #999;
					margin-bottom: 50px;
				}
				.secend {
					margin-bottom: 70px;
				}
				a {
					font: bold 15px/1 'Lato';
					border: 1px solid #a52f1d;
					padding: 20px 60px;
					color: #000;
					border-radius: 50%;
					margin-left: 45px;
					position: relative;

					&::after {
						content: '';
						display: block;
						width: 80px;
						height: 1px;
						position: absolute;
						top: 28px;
						left: -45px;
						background: #a52f1d;
					}
					&::before {
						content: '〉';
						display: block;
						position: absolute;
						top: 21.2px;
						left: 29.5px;
						color: #a52f1d;
					}
				}
				img {
					float: right;
					width: 80%;
					height: 100%;
					object-fit: cover;
					border-radius: 45% 45% 0 0 / 45% 45% 0 0;
				}
			}
		}
	}
}
