#news {
	background: #f3e9e0;
	padding: 100px 0;
	.inner {
		width: 1180px;
		margin: 0 auto;
		h1 {
			font: 30px/1 'Gilda Display';
			color: #a52f1d;
			margin-bottom: 50px;
		}
		ul li {
			width: 100%;
			padding: 20px;
			margin-bottom: 20px;
			background: #e7ddd4;
		}
	}
}
