#news {
	background: #e7ddd4;
	padding: 100px 0;
	.inner {
		width: 1180px;
		margin: 0 auto;
		h1 {
			font: 35px/1 'Gilda Display';
			color: #a52f1d;
			margin-bottom: 50px;
		}
		.pic {
			width: 280px;
			height: 460px;
			object-fit: cover;
			background: #a52f1d;
			float: left;
			margin-right: 20px;
		}
		ul {
			&::after {
				display: block;
				content: '';
				clear: both;
			}
			li {
				float: left;
				width: calc(100% - 300px);
				height: 100px;
				margin-bottom: 20px;
				background: #f3e9e0;
				box-shadow: 5px 5px 5px #888;
				overflow: hidden;
				padding: 10px;
				display: flex;
				flex-direction: column;
				&:last-child {
					margin-right: 0;
				}
				h2 {
					font: 30px/1 'Gilda Display';
					color: #a52f1d;
					margin-bottom: 10px;
				}
				p {
					font: 20px/1.3 'Lato';
					color: #333;
				}

				&:hover {
					background: rgba(165, 47, 29, 0.1);
				}
			}
		}
	}
}
