#visual {
	position: relative;
	width: 100%;
	height: calc(100vh - 80px);
	background: #f3e9e0;
	.mySwiper {
		width: 1180px;
		bottom: 0;
		position: relative;
		.swiper-wrapper {
			.swiper-slide {
				width: 1180px;
				height: calc(100vh - 80px);
				position: relative;
				.pic {
					width: 45%;
					height: 100%;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					top: 0;
					z-index: 3;
					img {
						clip-path: inset(1px 10px 1px 10px round 45%);
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: relative;
					}
				}

				.text {
					position: absolute;
					bottom: calc(30vh - 120px);
					left: 0;
					z-index: 5;
					h1 {
						font: 100px/1 'Gilda Display';
						color: #333;
						text-align: left;
						opacity: 0;
						transition: opacity 1s ease 0.5s;
					}
				}
				.back {
					width: 1180px;
					height: 30vh;
					bottom: 0;
					left: 50%;
					margin-left: -590px;
					position: absolute;
					z-index: 1;
					opacity: 0;
					transform: translateY(300px);
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.des {
					width: 1180px;
					padding-left: 75%;
					position: absolute;
					top: 10%;
					left: 0;
					font: 15px/1.5 'Lato';
					color: #555;
					opacity: 0;
					transform: translateX(250px);

					a {
						color: #666;
						margin-top: 20px;
						display: block;
						text-decoration: underline;
					}
				}
			}
			.swiper-slide-active {
				.text {
					h1 {
						opacity: 1;
					}
				}
				.back {
					animation: background 1s ease 0.5s;
					animation-fill-mode: forwards;
				}
				.des {
					animation: rightMove 1s ease 0.5s;
					animation-fill-mode: forwards;
				}
			}
		}
		.swiper-button-next {
			position: absolute;
			top: 50%;
			left: 200px;
			color: #999;
			transform: scale(0.5) translateY(-50%);
			transition: 0.5s;
			&:hover {
				color: #a52f1d;
			}
		}
		.swiper-button-prev {
			position: absolute;
			color: #a52f1d;
			top: 50%;
			left: 0;
			color: #999;
			transform: scale(0.5) translateY(-50%);
			transition: 0.5s;
			&:hover {
				color: #a52f1d;
			}
		}
		.swiper-pagination-fraction {
			bottom: auto;
			right: auto;
			top: calc(50% - 8px);
			left: 87px;
			transform: translateY(-50%);
			width: auto;
			font-size: 25px;
			color: #999;
			letter-spacing: 1px;
		}
	}
}

@keyframes background {
	0% {
		transform: translateY(250px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes rightMove {
	0% {
		transform: translateX(250px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@media screen and (max-width: 1179px) {
	#visual {
		.mySwiper {
			.swiper-wrapper {
				.swiper-slide {
					width: 100%;
					.pic {
						width: 48%;
					}
					.des {
						width: 100%;
						padding-right: 5px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 929px) {
	#visual {
		.mySwiper {
			.swiper-wrapper {
				.swiper-slide {
					.pic {
						width: 60%;
					}

					.text {
						bottom: calc(30vh - 110px);
						h1 {
							font: 90px/1 'Gilda Display';
						}
					}
					.des {
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
	#visual {
		.mySwiper {
			.swiper-wrapper {
				.swiper-slide {
					.text {
						bottom: calc(30vh - 97px);
						h1 {
							font: 80px/1 'Gilda Display';
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 679px) {
	#visual {
		.mySwiper {
			.swiper-wrapper {
				.swiper-slide {
					.pic {
						width: 70%;
					}
					.text {
						bottom: calc(30vh - 97px);
						h1 {
							font: 80px/1 'Gilda Display';
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 649px) {
	#visual {
		.mySwiper {
			.swiper-wrapper {
				.swiper-slide {
					.text {
						bottom: calc(30vh - 87px);
						h1 {
							font: 70px/1 'Gilda Display';
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 539px) {
	#visual {
		.mySwiper {
			.swiper-wrapper {
				.swiper-slide {
					.pic {
						width: 90%;
					}
					.text {
						bottom: calc(30vh - 72px);
						h1 {
							font: 60px/1 'Gilda Display';
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 449px) {
	#visual {
		.mySwiper {
			.swiper-wrapper {
				.swiper-slide {
					.pic {
						width: 95%;
					}
					.text {
						bottom: calc(30vh - 62px);
						h1 {
							font: 50px/1 'Gilda Display';
						}
					}
				}
			}
		}
	}
}
