.Gallery {
	.inner {
		min-height: 600px;
	}
	.loading {
		position: fixed;
		top: 200px;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		width: 150px;
	}
	.searchBox {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 80px;

		input {
			height: 30px;
			width: 30%;
			border: none;
			background: #f3e9e0;
			border-bottom: 1px solid #a52f1d;
			margin-right: 20px;
			outline: none;
		}
		button {
			width: 120px;
			font: 15px/30px 'Lato';
			border: none;
			background: #a52f1d;
			color: #fff;
			margin-right: 10px;
		}
	}

	.frame {
		// transform: translateY(200px);
		// opacity: 0;
		transition: 1s;

		&.on {
			transform: translateY(0px);
			opacity: 1;
		}

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		li {
			width: 25%;
			float: left;
			padding: 10px;
			.p_inner {
				background: #fff;
				padding: 10px;
				width: 100%;
				.wrap {
					padding: 10px;
					width: 100%;
					border: 1px solid #f3e9e0;
					> .pic {
						width: 100%;
						margin-bottom: 10px;
						cursor: pointer;

						img {
							width: 100%;
							filter: grayscale(1);
						}
					}
				}
			}
			h2 {
				font: normal 14px/1.2 'Gilda Display';
				color: #a52f1d;
				padding-top: 10px;
			}

			&:hover {
				.p_inner {
					background: #a52f1d;
					.pic {
						img {
							filter: grayscale(0);
						}
						h2 {
							color: #fff;
						}
					}
				}
			}
		}
	}
}
