.Gallery {
	ul {
		width: 100%;
		min-height: 600px;
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		li {
			width: 33%;
			height: 300px;
			float: left;
			padding: 10px;

			> .inner {
				width: 100%;
				height: 100%;
				background: #111;

				.pic {
					width: 100%;
					height: 180px;
					margin-bottom: 20px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}
	}
}
