.Location {
	figure {
		height: 400px;
	}
}

.Location {
	.inner::after {
		display: block;
		content: '';
		clear: both;
	}
	h1 {
		font: 40px/1 'arial';
		text-align: center;
		padding: 20px 0;
		margin-bottom: 50px;
	}
	#map {
		width: 50%;
		height: 600px;
		position: relative;
		float: left;
	}
	.text {
		float: right;
		width: 49%;
		li {
			font: 30px/180px 'arial';
			border-radius: 25px;
			height: 180px;
			cursor: pointer;
			padding: 10px;
			color: #fff;
			width: 100%;
			text-align: center;
			position: relative;
			margin-bottom: 20px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			filter: grayscale(0.7);
			transition: 0.5s;

			&:hover {
				filter: grayscale(0);
				font: bold 40px/180px 'arial';
			}
		}
	}
}
