@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.Youtube {
	.inner {
		width: 900px;
		article {
			margin-bottom: 50px;
			position: relative;

			img {
				width: 900px;
				height: 300px;
				object-fit: cover;
				position: relative;
				right: 0;
				margin-bottom: 20px;
				color: #111;
				transition: 0.5s;
				cursor: pointer;
				position: relative;
			}
			a {
				position: absolute;
				top: 225px;
				left: 50%;
				transform: translateX(-50%);
				color: red;
				font-size: 50px;
				opacity: 0;
				transition: 0.2s 0.3s;
			}
			h2 {
				font: 30px/1 'Bellefair';
				margin-bottom: 20px;
			}
			span {
				font: 20px/1 'arial';
				display: block;
				margin-bottom: 20px;
				color: #333;
			}
			p {
				font: 15px/1 'arial';
				color: #333;
				margin-bottom: 20px;
			}
			&:hover img {
				height: 500px;
				filter: grayscale(0.7);
			}
			&:hover a {
				opacity: 1;
			}
		}
	}
}
